{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <a href="{{path('app_logout')}}">Se deconnecter</a>
    <h1> Bienvenue dans la page d'accueil {{app.User.pseudo}}</h1>
</div>
{% endblock %}
