{% extends 'base.html.twig' %}

{% block title %}Toutes les séries!{% endblock %}

{% block body %}
listes de toutes les séries sur le site. <br>

{% for serie in all_serie %}

        <a href="{{ path ('detail' ,{id: serie.id } ) }}">{{ serie.titre }}</a><br>

{% endfor %}
{% endblock %}
