{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
<h1>Ma liste</h1>
    {% if statuses | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Serie</th>
                    <th>Episode </th>
                    {# <th>Episode en cours</th> #}
                    <th>type</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.serie.titre }}</td>
                        <td>{{ status.serie.episode }}</td>
                        {# <td>{{ status.episodeUser }}</td> #}
                        <td>{{ status.serie.typeSerie.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Votre liste est vide</p> 
    {% endif %}

{% endblock %}
